
h1 {
    color:#0000FF;
}

h2 {
    font-family: "Oswald";
    color: white;
    font-size: 24px;
    margin-left: 25px;
}

table {
    border-collapse: collapse;
    border: 2px;
    text-align: center;
}

.bottom-line {
    border-bottom: 1px solid #d93b38;
}

table td {
    padding: 8px;
    min-width: 200px;
}

.orangered-form {
    background-color: orangered;
    height: 240px;
    width: 870px;
    padding: 10px;
    border: 5px solid red;
    border-radius: 10px;
    margin: 10px;
}


.card {
    position: relative;
    background-color: orangered;
    font-family: "Arial";
    color: white;
}
.tariff-card {
    table-layout: auto;
    border-radius: 8px;
}


.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 14px;
    text-align: center;
    color: orangered;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 255);
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
    font-family: "Arial";
    letter-spacing: 1px;
}

.styled:hover {
    background-color: yellow;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.styled-add {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
    rgba(0, 0, 0, .2),
    rgba(0, 0, 0, .2) 30%,
    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
    inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled-add:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled-add:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.active {
    background-color: #4CAF50 !important;
}

button {
    background: none;
}


.main-block {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.main-block__button {
    letter-spacing: 1px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    height: 30px;
    padding: 0 30px;
    text-transform: uppercase;
    border-radius: 3px;
    color: white;
    background: orangered;
    transition: background 300ms linear;

    margin: 5px;
}

.main-block__button:hover {
    background: black;
}

